* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* -----Grid----- */
.grid-container {
  grid-template-areas: "header header header" "hero hero hero" "opiniones opiniones opiniones" "footer footer footer";
}

.grid-header {
  grid-area: header;
}

.grid-hero {
  grid-area: hero;
}

.grid-opiniones {
  grid-area: opiniones;
}

.grid-footer {
  grid-area: footer;
}

/*-----Footer-----*/
.footer {
  margin-top: 50px;
  width: 100%;
  background-color: #2874A6;
}
.footer .conte-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.footer .conte-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .conte-1 .box .footer__logo img {
  width: 150px;
}
.footer .conte-1 .box h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.footer .conte-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.footer .conte-1 .red-social {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.footer .conte-1 .red-social a {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 25%;
  line-height: 50px;
  background-color: #2874A6;
  transition: all 300ms ease;
  font-size: 30px;
}
.footer .conte-1 .red-social a:hover {
  color: black;
}
.footer__logo a {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.footer__logo a:hover {
  color: white;
}

@media (max-width: 992px) {
  .footer .conte-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .box {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .box p {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .opiniones-conteiner {
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
  }
}

/* -----NavBar----- */
.nav-link {
  color: white;
}

.navbar .navbar-brand:hover {
  color: white;
}
.navbar .navbar-toggler {
  background-color: white;
  color: #2874A6 !important;
}
.navbar .navbar-brand:focus {
  color: white;
}

.bg-light {
  background-color: #2874A6 !important;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}
.collapse a {
  margin-right: 25px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* ----main---- */
@media (max-width: 993px) {
  .show {
    display: flex;
    justify-content: start;
  }
}
/* -----hero----- */
.hero {
  height: 400px;
  width: 100%;
  background-image: url(../assets/img/herobanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__text {
  text-align: center;
}
.hero__text h1 {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  color: white;
}
.hero__text h2 {
  font-size: 1rem;
  text-shadow: 2px 2px 2px black;
  color: white;
}
.hero__text p {
  margin-top: 10px;
  font-size: 1rem;
  text-shadow: 2px 2px 2px black;
  color: white;
}

/* --- noticias --- */
.h2-noti {
  background-color: #61b9f8;
  text-align: center;
  font-weight: bold;
}

.conteiner-noti {
  height: 200px;
  padding-top: 100px;
}

.p-noti {
  height: 100px;
  color: white;
  border-radius: 5px;
  background-color: #3b627d;
}

.noticias {
  display: flex;
  justify-content: center;
}

/* -----tarjetas----- */
.title-section {
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
}

.opiniones-conteiner {
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .opiniones-conteiner {
    flex-direction: column;
    justify-content: center;
    height: auto;
    align-items: center;
  }
}

.card {
  height: auto;
  width: 250px;
  margin: 10px;
  border-radius: 0%;
}
.card-header {
  color: white;
  background-color: #2874A6;
}
.card-img-top {
  margin-left: 25%;
  margin-top: 20px;
  width: 50%;
}
.card-text {
  font-family: sans-serif;
}
.card-index {
  background: rgb(67, 173, 232);
  background: radial-gradient(circle, rgb(67, 173, 232) 0%, rgb(111, 194, 245) 100%);
  height: 290px;
  border-radius: 5px;
}
.card-produ {
  background-color: #F5D8B3;
  border: 1px solid black;
  border-radius: 5px;
}
.card-oferta {
  background-color: #4c89ba;
  border: 1.5px solid black;
  border-radius: 5px;
}
.card-oferta h3 {
  color: black;
}
.card-oferta p {
  color: #121111;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin: 0;
}

@media (max-width: 567px) {
  .card-index {
    height: auto;
  }
}

.card-noticias {
  width: 50%;
  background: white;
}
@media (max-width: 567px) {
  .card-noticias {
    width: auto;
  }
}

@media (max-width: 567px) {
  .card-body {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .conter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 567px) {
  .card-img-top {
    height: auto;
    width: 80%;
    object-fit: contain;
    margin-left: 20px;
  }
}

.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}

.contenedor-form {
  width: 370px;
  height: 100%;
}

.box-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2874A6;
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.title-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
form label {
  color: white;
  width: 72px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
form input[type=text], form input[type=email] {
  width: 90%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
}
form textarea {
  width: 90%;
}

.nosotros-title {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.nosotros-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 5px black;
  text-shadow: 2px 2px 2px black;
  background-color: #2874A6;
  font-size: 2.5rem;
}

.h2-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.nosotros-main {
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nosotros-section-1 {
  margin-top: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros-section-1 h2 {
  margin: 15px;
}
.nosotros-section-1 p {
  height: auto;
  margin: 0 6%;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(113, 113, 113);
  background-color: rgb(83, 212, 241);
}

.contenedor-video {
  width: 90%;
  height: 100%;
}
.contenedor-video iframe {
  height: 100%;
  width: 100%;
}

@media (max-width: 520px) {
  .nosotros-section-1 {
    height: 450px;
  }
}
.elaboracion-text {
  width: auto;
  height: 100px;
  color: rgb(30, 30, 30);
}
.elaboracion-text p {
  width: auto;
}

.redes-contacto {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.ubicacion-contenedor {
  margin-top: 50px;
}

.contacto-title {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacto-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 5px black;
  text-shadow: 2px 2px 2px black;
  background-color: #2874A6;
  font-size: 2.5rem;
}

.mapa {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.mapa iframe {
  width: 100%;
  height: 450px;
}

.box-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #2874A6;
}

.title-box {
  color: white;
  font-weight: bold;
}

.productos-title {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productos-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 5px black;
  text-shadow: 2px 2px 2px black;
  background-color: #2874A6;
  font-size: 2.5rem;
}

.ofertas-title {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ofertas-title h1 {
  width: 200px;
  height: 60px;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 5px black;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  background-color: #2874A6;
  font-size: 2.5rem;
}

a:hover {
  color: rgb(32, 30, 30);
}

/* -----Buttoms----- */
.buttons {
  display: flex;
  width: 100%;
  margin: 25px;
  justify-content: space-around;
}
.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #2a8ec7;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.buttons a:hover {
  transform: scale(1.2);
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  background-color: #2874A6;
  color: white;
}
.btn:hover {
  color: black !important;
  background-color: #2D8AC8 !important;
}

/*# sourceMappingURL=styles.css.map */
