/*-----nosotros-----*/
.nosotros-title {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 60px;
        color: white;
        font-weight: bold;
        box-shadow: 3px 3px 5px black;
        text-shadow: 2px 2px 2px black;
        background-color: $color-primario;
        font-size: 2.5rem;
    }
}

.h2-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros-main {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nosotros-section-1 {
    margin-top: 50px ;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin: 15px;
    }

    p {
        height: auto;
        margin: 0 6%;
        padding: 10px;
        box-shadow: 5px 5px 5px rgb(113, 113, 113);
        background-color: rgb(83, 212, 241);
    }
}

.contenedor-video {
    width: 90%;
    height: 100%;

    iframe {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 520px) {
    .nosotros-section-1 {
        height: 450px;
    }
}

.elaboracion-text {
    width: auto;
    height: 100px;
    color: rgb(30, 30, 30);

    p {
        width: auto;
    }
}