/*-----ofertas-----*/
.ofertas-title{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        width: 200px;
        height: 60px;
        color: white;
        font-weight: bold;
        box-shadow: 3px 3px 5px black;
        text-align: center;
        text-shadow: 2px 2px 2px black;
        background-color: $color-primario;
        font-size: 2.5rem;
    }
}
a{
    &:hover{
        color:rgb(32, 30, 30);
    }
}