/* -----tarjetas----- */
.title-section {
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
}
.opiniones-conteiner {
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    @include mobile-md{
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
    }
}

.card {
    height: auto;
    width: 250px;
    margin: 10px;
    &-header {
        color: white;
        background-color: $color-primario;
    }
    &-img {
        &-top {
            margin-left: 25%;
            margin-top: 20px;
            width: 50%;
        }
    }
    &-index{
        height: 290px;
    }
}

.card-index{
    @include mobile-sm{
        height: auto;
    }
}
.card-noticias{
    width: 50%;
    @include mobile-sm{
        width: auto;
    }
}
.card-body {
    @include mobile-sm{
        width: 100%;
    }
}
.conter {
    @include mobile-sm{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card-img-top {
    @include mobile-sm{
        height: auto;
        width: 80%;
        object-fit: contain;
        margin-left: 20px;
    }
}