/* -----NavBar----- */
.nav-link {
    color: white;
}

.navbar {
    .navbar-brand {
        &:hover {
            color: white;
        }
    }

    .navbar-toggler {
        background-color: white;
        color: $color-primario  !important;
    }

    .navbar-brand:focus {
        color: white;
    }
}

.bg-light {
    background-color: $color-primario  !important;
}

.collapse {
    display: flex;
    justify-content: flex-end;

    a {
        margin-right: 25px;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* ----main---- */

@media (max-width: 993px) {
    .show {
        display: flex;
        justify-content: start;
    }
}